body {
    background-color: #cccccc;
}


h1 {
    color: black;
    text-align: center;
}

h2 {
	color: black;
	font-size: 22px;
	text-align: center;
}

h3 {
	color: black;
	font-size: 20px;
	text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 100%;
}

form {
	text-align: left;
	margin: 0px;
}

input[type=text]{
	font-size: 14px;
	text-align: center;
	width: 90%
}
input[type=button]{
	font-size: 16px;
	text-align: center;
}
input[type=number] {
	font-size: 14px;
	text-align: center;
	width: 30%
}
select {
	font-size: 16px;
	text-align: center;
}

#spell {
	padding: 2px;
	float:left;
	border-style: ridge;
    border-width: 2px;
	/* background-color: #eeeeee; */
	background-color: hsla(0, 0%, 90%, .9);
	text-align: left;
	/* margin-left: auto;
	margin-right: auto; */
    width: 32%;
    height: 400px;
	overflow-y: auto;
	/* height: 600px; */
	margin: 0px;
}

table, th, td {
	border: 1px solid black;
	
	margin: 0 auto;
	font-size: 16px;
	text-align: center;
}


/* unvisited link */
a:link {
    color: #000000;
}
/* visited link */
a:visited {
    color: #000000;
}
/* mouse over link */
a:hover {
    color: #FF00FF;
}
/* selected link */
a:active {
    color: #000000;
}

/* Start Radio Buttons */
input[type=radio] {
    display: none;
}
input[type=radio] {
	width: 1.5em;
    height: 1.5em;
    content: '';
    display: inline-block;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 0.5em;
}
input[type=radio]:checked{
    background-color: #ffa;
}
/* End Radio Buttons */


/*Start Left Nav */
#left_nav {
	font-size: 12px;
    background-color:#eeeeee;
    width:10%;
    float:left;
    padding:10px;
}
/*End Left Nav */

/*Start Right Nav */
#right_nav {
	font-size: 12px;
    background-color:#eeeeee;
    width:10%;
    float:right;
    padding:10px;
}
/*End Right Nav */

/*Start Section */
#section {
	border-style: none;
    border-width: 2px;
	width:74.75%;
    float:left;
    padding:10px;
}
/*End Section*/
#creator_nav {
	/* background-color: #eeeeee; */
	background-color: hsla(0, 0%, 90%, .9);
	border-style: ridge;
    border-width: 2px;
	width:74.75%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}


/* Start Header */
#header {
	border-style: ridge;
    border-width: 2px;
	width:74.75%;
	margin-left: auto;
	margin-right: auto;
	background-color: hsla(0, 0%, 70%, .9);
	}
/* End Header */

/*Start Footer */
#footer {
	background-color:black;
    color:white;
    clear:both;
	height:100px;
    text-align:center;
    padding:5px; 
}
/*End Footer*/

